<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">
<title>Parklife<%= " - #{@page_title}" if @page_title %></title>
<link href="<%= url("/css/main.css?#{Time.now.utc.to_i}", false) %>" rel="stylesheet" type="text/css">
<link href="<%= url("/css/syntax-highlighting.css?#{Time.now.utc.to_i}", false) %>" rel="stylesheet" type="text/css">
</head>
<body>

<header class="header">
  <nav class="nav">
    <ul>
      <li><a href="<%= url('/', false) %>">Parklife</a></li>
      <li><a href="<%= url('/config', false) %>">Configure</a></li>
      <li><a href="<%= url('/cli', false) %>">CLI</a></li>
      <li><a href="<%= url('/rails', false) %>">Rails</a></li>
      <li><a href="<%= url('/colophon', false) %>">Colophon</a></li>
      <li><a href="https://github.com/benpickles/parklife">GitHub</a></li>
    </ul>
  </nav>
</header>

<main class="main">
  <%= yield %>
</main>

<footer class="footer">
  <%= markdown :footer %>
</footer>

</body>
</html>
